<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h3>Quiz</h3>
            <div class="navbar-btn">
                <div class="pull-right">
                    <select class="form-control" [(ngModel)]="selected_course" (ngModelChange)="onChangeCourse()">
                        <option *ngFor="let course of courses" [ngValue]="course">{{course.name}}-{{course.class_name}}</option>
                    </select>
                </div>
                <button class="btn btn-round btn-primary pull-right" (click)="onAddQuiz()"><i class="fa fa-plus"></i> Add</button>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <accordion>
                <ng-container *ngFor="let quiz of quiz_list; let i = index">
                    <accordion-group #group [isOpen]="quiz.isOpen">
                        <h4 accordion-heading>
                            {{quiz.title}} - {{quiz.created_at | date:'short'}} - {{quiz.questions.length}} questions
                            <i class="pull-right float-xs-right fa" [ngClass]="{'fa-chevron-down': group?.isOpen, 'fa-chevron-right': !group?.isOpen}"></i>
                        </h4>
                        <button class="btn btn-danger" (click)="onDeleteQuiz(quiz.id)"><i class="fa fa-times"></i> Delete</button>
                        <ng-container *ngFor="let question of quiz.questions">
                            <h4 class="underline">Q: {{question.text}} <small> ({{question.answers.length}} answers)</small></h4>
                            <div style="overflow:auto; max-height:300px;">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr *ngFor="let answer of question.answers">
                                            <td width="20%">{{answer.student_name}} - {{answer.student_code}}</td>
                                            <td>{{answer.text}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <hr/>
                        </ng-container>
                    </accordion-group>
                </ng-container>
            </accordion>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteQuizModal" role="dialog">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog modal-sm vertical-align-center">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirm Delete Quiz</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-default btn-success" (click)="deleteQuiz()" data-dismiss="modal">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addQuizModal" role="dialog">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add new quiz</h4>
                </div>
                <form class="form-horizontal form-label-left">
                    <div class="row modal-body">
                        <div class="form-group">
                            <textarea autosize class="form-control only_bottom_border" placeholder="Quiz title" [(ngModel)]="quiz.title" name="quiz_title" style="font-size: large; resize: none;"></textarea>
                        </div>
                        <div *ngFor="let question of quiz.questions; let i = index;">
                            <div class="col-sm-10 form-group">
                                <textarea autosize rows="3" class="form-control only_bottom_border" name="question_title_{{i}}" placeholder="Question" [(ngModel)]="question.text" style="resize: none;"></textarea>
                            </div>
                            <div class="col-sm-1" *ngIf="quiz.questions.length > 1">
                                <button class="btn btn-danger" (click)="onRemoveQuestion(i)"><i class="fa fa-times"></i></button>
                            </div>
                            <div class="col-sm-1" *ngIf="i == quiz.questions.length-1">
                                <button class="btn btn-primary" (click)="onAddQuestion()"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-default btn-success" (click)="addQuiz()">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>