extends layout

block stylesheet

block content
	<!-- top tiles -->
	<div class="row tile_count">
		<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
		<span class="count_top"><i class="fa fa-user"></i> Total Absences</span>
			<div class="count">5</div>
			<span class="count_bottom"><i class="green">80% </i> From last Month</span>
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
			<span class="count_top"><i class="fa fa-clock-o"></i> Absence Requests</span>
			<div class="count">3</div>
			<span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>50% </i> From last Month</span>
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
			<span class="count_top"><i class="fa fa-user"></i> Total Males</span>
			<div class="count green">2,500</div>
			<span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
			<span class="count_top"><i class="fa fa-user"></i> Total Females</span>
			<div class="count">4,567</div>
			<span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i> From last Week</span>
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
			<span class="count_top"><i class="fa fa-user"></i> Total Collections</span>
			<div class="count">2,315</div>
			<span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
			<span class="count_top"><i class="fa fa-user"></i> Total Connections</span>
			<div class="count">7,325</div>
			<span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="row">
				<!-- Start to do list -->
				<div class="col-md-8 col-sm-8 col-xs-12">
					<div class="row text-center pad-top">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
							<div class="div-square">
								<a href="blank.html">
									<i class="fa fa-circle-o-notch fa-5x"></i>
									<h4>???</h4>
								</a>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
							<div class="div-square">
								<a href="blank.html">
									<i class="fa fa-envelope-o fa-5x"></i>
									<h4>???</h4>
								</a>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
							<div class="div-square">
								<a href="blank.html">
									<i class="fa fa-lightbulb-o fa-5x"></i>
									<h4>???</h4>
								</a>
							</div>
						</div>
					</div>
					<div class="row text-center pad-top">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
							<div class="div-square">
								<a href="blank.html">
									<i class="fa fa-users fa-5x"></i>
									<h4>???</h4>
								</a>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
							<div class="div-square">
								<a href="blank.html">
									<i class="fa fa-key fa-5x"></i>
									<h4>??? </h4>
								</a>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
							<div class="div-square">
								<a href="blank.html">
									<i class="fa fa-comments-o fa-5x"></i>
									<h4>???</h4>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="x_panel">
						<div class="x_title">
							<h2>To Do List <small>Sample tasks</small></h2>
							<ul class="nav navbar-right panel_toolbox">
								<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
								</li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
									<ul class="dropdown-menu" role="menu">
										<li><a href="#">Settings 1</a></li>
										<li><a href="#">Settings 2</a></li>
									</ul>
								</li>
								<li><a class="close-link"><i class="fa fa-close"></i></a>
								</li>
							</ul>
							<div class="clearfix"></div>
						</div>
						<div class="x_content">
							<div class="">
								<ul class="to_do">
									<li>
										<p><input type="checkbox" class="flat"> Schedule meeting with new client </p>
									</li>
									<li>
										<p><input type="checkbox" class="flat"> Create email address for new intern</p>
									</li>
									<li>
										<p><input type="checkbox" class="flat"> Have IT fix the network printer</p>
									</li>
									<li>
										<p><input type="checkbox" class="flat"> Copy backups to offsite location</p>
									</li>
									<li>
										<p><input type="checkbox" class="flat"> Food truck fixie locavors mcsweeney</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- End to do list -->
			</div>
		</div>
	</div>

block script

