extends layout

block stylesheet
	<style type="text/css">.btn-clear{background: transparent;}</style>
block content
	<!-- top tiles -->
	<div class="row tile_count">
		<div class="col-md-3 col-sm-6 col-xs-6 tile_stats_count">
		<span class="count_top"><i class="fa fa-user"></i> Total Absences</span>
			<div class="count">67</div>
			<span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>30% </i> From last Week</span>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-6 tile_stats_count">
			<span class="count_top"><i class="fa fa-clock-o"></i> Absence Requests</span>
			<div class="count">3</div>
			<span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>50% </i> From last Month</span>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-6 tile_stats_count">
			<span class="count_top"><i class="fa fa-user"></i> Total Attendances</span>
			<div class="count">500</div>
			<span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> From last Week</span>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-6 tile_stats_count">
			<span class="count_top"><i class="fa fa-user"></i> Total Musters</span>
			<div class="count">20</div>
			<span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i> From last Week</span>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="row">
				<!-- Start to do list -->
				<div class="col-md-8 col-sm-8 col-xs-12 ">
					<div class="row text-center pad-top">
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
							<div class="div-square">
								<button type="button" class="btn btn-clear" data-toggle="modal" data-target="#myModal">
									<i class="fa fa-user-plus fa-3x"></i>
									<h5>Create New User</h5>
								</button>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
							<div class="div-square">
								<button type="button" class="btn btn-clear" data-toggle="modal" data-target="#myModal">
									<i class="fa fa-paper-plane-o fa-3x"></i>
									<h5>Send Warning Mail</h5>
								</button> 
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
							<div class="div-square">
								<button type="button" class="btn btn-clear" data-toggle="modal" data-target="#myModal">
									<i class="fa fa-lightbulb-o fa-3x"></i>
									<h5>???</h5>
								</button>
							</div>
						</div>
					</div>
					<div class="row text-center pad-top">
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
							<div class="div-square">
								<button type="button" class="btn btn-clear" data-toggle="modal" data-target="#myModal">
									<i class="fa fa-users fa-3x"></i>
									<h5>???</h5>
								</button>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
							<div class="div-square">
								<button type="button" class="btn btn-clear" data-toggle="modal" data-target="#myModal">
									<i class="fa fa-key fa-3x"></i>
									<h5>??? </h5>
								</button>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
							<div class="div-square">
								<button type="button" class="btn btn-clear" data-toggle="modal" data-target="#myModal">
									<i class="fa fa-comments-o fa-3x"></i>
									<h5>???</h5>
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="x_panel">
						<div class="x_title">
							<h2>To Do List <small>Sample tasks</small></h2>
							<ul class="nav navbar-right panel_toolbox">
								<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
								</li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
									<ul class="dropdown-menu" role="menu">
										<li><a href="#">Settings 1</a></li>
										<li><a href="#">Settings 2</a></li>
									</ul>
								</li>
								<li><a class="close-link"><i class="fa fa-close"></i></a>
								</li>
							</ul>
							<div class="clearfix"></div>
						</div>
						<div class="x_content">
							<div class="">
								<ul class="to_do">
									<li>
										<p><input type="checkbox" class="flat"> Send midterm warning mail </p>
									</li>
									<li>
										<p><input type="checkbox" class="flat"> Check Absense Request </p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- End to do list -->
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">
		<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Send mail</h4>
				</div>
				
				<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
					<div class="modal-body">
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">To <span class="required">*</span></label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Subject <span class="required">*</span></label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input type="text" id="last-name" name="last-name" required="required" class="form-control col-md-7 col-xs-12">
							</div>
						</div>
						<div class="form-group">
							<label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Content</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name">
							</div>
						</div>
						<div class="form-group">
							<label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Attach</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
							<label class="radio-inline">
								<input type="radio" name="optradio">File 1
							</label>
							<label class="radio-inline">
								<input type="radio" name="optradio">File 2
							</label>
							<label class="radio-inline">
								<input type="radio" name="optradio">File 3
							</label>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-default btn-success" >Send</button>
					</div>
				</form>
			</div>
		</div>
	</div>
block script

