extends layout

block stylesheet
	<!-- Datatables -->
	<link href="../vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
	<link href="../vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
	<link href="../vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
	<link href="../vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
	<link href="../vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

block content
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>Time Table</h2>
				<div class="row">
					<div class="col-xs-5">
						<button type="button" class="btn btn-success btn-round" data-toggle="modal" data-target="#myModal"><i class="fa fa-upload"></i> Import</button>
						<button type="button" class="btn btn-success btn-round"> <i class="fa fa-download"></i> Emport</button>
					</div>
					<ul class="nav navbar-right">
						<select class="form-control">
							<option value="0">All Semesters</option>
							<option value="1">HK1 2016-2017</option>
							<option value="2">HK2 2016-2017</option>
							<option value="3">HK3 2016-2017</option>
						</select>
					</ul>	
				</div>

				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<div class="text-center">
					<h4 id="study_time"></h4>
				</div>
				<table class="table table-striped table-bordered text-center">
					<thead class="text-center">
						<tr>
							<th width="10%"> </th>
							<th width="15%">2</th>
							<th width="15%">3</th>
							<th width="15%">4</th>
							<th width="15%">5</th>
							<th width="15%">6</th>
							<th width="15%">7</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td>(LT)7:30-9:10</br>(TH)7:30-9:30</td>
							<td id="t2_1"></td>
							<td id="t3_1"></td>
							<td id="t4_1"></td>
							<td id="t5_1"></td>
							<td id="t6_1"></td>
							<td id="t7_1"></td>
						</tr>
						<tr>
							<td>(LT)9:30-11:10</br>(TH)9:30-11:30</td>
							<td id="t2_2"></td>
							<td id="t3_2"></td>
							<td id="t4_2"></td>
							<td id="t5_2"></td>
							<td id="t6_2"></td>
							<td id="t7_2"></td>
						</tr>
						<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
						<tr>
							<td>(LT)13:30-15:10</br>(TH)13:30-15:30</td>
							<td id="t2_3"></td>
							<td id="t3_3"></td>
							<td id="t4_3"></td>
							<td id="t5_3"></td>
							<td id="t6_3"></td>
							<td id="t7_3"></td>
						</tr>
						<tr>
							<td>(LT)15:30-17:10</br>(TH)15:30-17:30</td>
							<td id="t2_4"></td>
							<td id="t3_4"></td>
							<td id="t4_4"></td>
							<td id="t5_4"></td>
							<td id="t6_4"></td>
							<td id="t7_4"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>Courses</h2>
				<ul class="nav navbar-right panel_toolbox">
					<li><a class="collapse-link"><i class="fa fa-chevron-down"></i></a></li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<div class="x_content" style="display: none">
				<table id="datatable-fixed-header" class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>#</th>
							<th>Code</th>
							<th>Name</th>
							<th>Teacher</th>
							<th>TAs</th>
							<th>Office Hour</th>
							<th>Note</th>
						</tr>
					</thead>

					<tbody id="time_table_content">
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">
		<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Add new timetable file</h4>
					<div class="clearfix"></div>
				</div>
				<div class="modal-body">
					<div id="file-drop">Drop a spreadsheet file here</div>
					<br/>
					Temp Or click here to select a file
					<input class="pull-right" type="file" name="xlfile" id="xlf"/>
				</div>
			</div>
		</div>
	</div>
block script
	<script src="js/excel/xlsx.full.min.js"></script>
	<script src="../vendors/pdfmake/build/pdfmake.min.js"></script>
	<script src="../vendors/pdfmake/build/vfs_fonts.js"></script>
	<script src="js/excel/excel.js"></script>