<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Current Courses</h2>
            <div class="row">
                <div class="col-xs-5">
                    <button type="button" class="btn btn-success btn-round" data-toggle="modal" data-target="#myModal"> <i class="fa fa-plus"></i> Add</button>
                    <button type="button" class="btn btn-success btn-round"> <i class="fa fa-upload"></i> Import</button>
                    <button type="button" class="btn btn-success btn-round"> <i class="fa fa-download"></i> Emport</button>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <ul class="pull-right">
                <select class="form-control" style="margin-top: -10px">
                    <option>HK2 (2016-2017)</option>
                    <option>HK3 (2015-2016)</option>
                    <option>HK2 (2015-2016)</option>
                    <option>HK1 (2015-2016)</option>
                </select>
            </ul>
            <ul class="pull-right">
                <input type="radio" name="gender" value="male"> <b>Tất cả</b>
                <input type="checkbox" name="vehicle" value=""> <span>APCS</span>
                <input type="checkbox" name="vehicle" value=""> <span>Chất lượng cao</span>
                <input type="checkbox" name="vehicle" value=""> <span>Việt Pháp</span>
            </ul>
            <br>
            <courses-list-table [type]="'current'"></courses-list-table>
        </div>
    </div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Previous Courses</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-down"></i> <span>Explan all</span></a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content" style="display: none">
            <ul class="pull-right">
                <select class="form-control">
                    <option>All Semesters</option>

                    <option>HK2 (2016-2017)</option>
                    <option>HK1 (2016-2017)</option>
                    <option>HK3 (2015-2016)</option>
                </select>
            </ul>
            <ul class="pull-right">
                <input type="radio" name="gender" value="male"> <b>Tất cả</b>
                <input type="checkbox" name="vehicle" value=""><span>APCS</span>
                <input type="checkbox" name="vehicle" value=""><span>Chất lượng cao</span>
                <input type="checkbox" name="vehicle" value="">Việt Pháp
            </ul>
            <courses-list-table [type]="'previous'"></courses-list-table>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add new teacher</h4>
            </div>
            <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Name <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Code <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="last-name" name="last-name" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Teacher</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Note <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="birthday" class="date-picker form-control col-md-7 col-xs-12" required="required" type="text">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-default btn-success">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
