<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_content">
            <div class="col-md-4 col-sm-4 col-xs-12 profile_left">
                <ng-container *ngIf="!isEditingProfile">
                    <h3>{{editing_name}}</h3>
                    <ul class="list-unstyled user_data" style="font-size: medium;">
                        <li>
                            <i class="fa fa-phone"></i> {{authService.current_user.phone}}
                        </li>
                        <li>
                            <i class="fa fa-envelope-o"></i> {{authService.current_user.email}}
                        </li>
                    </ul>
                    <button class="btn btn-primary" (click)="onEditProfile()"><i class="fa fa-pencil"></i> Edit</button>
                </ng-container>
                <ng-container *ngIf="isEditingProfile" (keydown)="keyDownFunction($event)">
                    <h3><input class="form-control" type="text" name="editing_name" [(ngModel)] = "editing_name"></h3>
                    <ul class="list-unstyled user_data" style="font-size: medium;">
                        <li>
                            <i class="fa fa-phone"></i>
                            <input class="form-control" type="text" name="editing_phone" [(ngModel)]="editing_phone">
                        </li>
                        <li>
                            <i class="fa fa-envelope-o"></i>
                            <input class="form-control" type="text" name="editing_mail" [(ngModel)]="editing_mail">
                        </li>
                    </ul>
                    <button class="btn btn-default" (click)="onCancelEditProfile()">Cancel</button>
                    <button class="btn btn-success" (click)="onSaveEditProfile()">Save</button>
                </ng-container>
            </div>
            <div class="col-sm-8 col-xs-12">
                <div class="pad-top">
                    <button type="button" class="btn btn-primary" (click)="onAddClass()">
                        <i class="fa fa-users fa-3x"></i>
                        <h5>New Class</h5>
                    </button>
                    <button type="button" class="btn btn-primary" (click)="onAddSemester()">
                        <i class="fa fa-calendar-plus-o fa-3x"></i>
                        <h5>New Semester</h5>
                    </button>
                    <button type="button" class="btn btn-primary" (click)="onAddProgram()">
                        <i class="fa fa-institution fa-3x"></i>
                        <h5>New Program</h5>
                    </button>
                    <button type="button" class="btn btn-primary" (click)="onExportExamineesList()">
                        <i class="fa fa-address-book-o fa-3x"></i>
                        <h5>Export Examinees</h5>
                    </button>
                    <button type="button" class="btn btn-primary" (click)="onChangePassword()">
                        <i class="fa fa-cogs fa-3x"></i>
                        <h5>Change Password</h5>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addSemesterModal" role="dialog">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add new Semester</h4>
                </div>
                <form class="form-horizontal form-label-left">
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Name*</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" [(ngModel)]="new_semester_name" name="new_semester_name" required="required" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12"> Study time* </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="input-prepend input-group">
                                        <span class="add-on input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="text" name="from_to" id="from_to" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Vacation time</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <textarea [(ngModel)]="new_semester_vacation_time" rows="3" name="new_semester_vacation_time" required="required" class="form-control col-md-7 col-xs-12"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-default btn-success" (click)="confirmAddSemester()">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addClassModal" role="dialog">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add new Class</h4>
                </div>
                <form class="form-horizontal form-label-left">
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Name*</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" [(ngModel)]="new_class_name" (ngModelChange)="onChangeNewClassName()" name="new_class_name" required="required" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Email*</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" [(ngModel)]="new_class_email" name="new_class_email" required="required" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Program</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select class="form-control" name="program_id" [(ngModel)]="new_class_program">
                                        <option *ngFor="let program of programs" [value]="program.id">{{program.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Add students list: </label>
                                <div class="col-sm-9">
                                    <label class="btn btn-primary btn-sm btn-file">
                                        Choose file
                                        <input type="file" style="display:none;" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" name="students{{i}}" (change)="onSelectFile($event.target.files[0])">
                                    </label>
                                    <button *ngIf="addStudentFromFile" class='btn btn-xs btn-success' tooltip="Click to remove file" (click)="onRemoveFile()">{{addStudentFromFile['name']}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-default btn-success" (click)="confirmAddClass()">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addProgramModal" role="dialog">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add new program</h4>
                </div>
                <form class="form-horizontal form-label-left">
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Name*</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" [(ngModel)]="new_program_name" name="new_program_name" required="required" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Code*</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" [(ngModel)]="new_program_code" name="new_program_code" required="required" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-default btn-success" (click)="confirmAddProgram()">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<export-modal [export_type]="appService.import_export_type.examinees" [title]="'Export Examinees'"></export-modal>