<div class="nav_menu">
    <nav>
        <div class="nav toggle">
            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="">
                <a class="user-profile">
                    <strong>{{authService.current_user.first_name}} {{authService.current_user.last_name}}</strong>
                </a>
<!--                 <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="assets/images/picture.jpg" alt="">
                    <strong>{{authService.current_user.first_name}} {{authService.current_user.last_name}} <span class=" fa fa-angle-down"></span></strong>
                </a>
                <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a><span>Settings</span></a></li>
                    <li><a>Change Password</a></li>
                    <li><a (click)="logout()"><i class="fa fa-sign-out pull-right"></i> Log Out </a></li>
                </ul> -->
            </li>
            <!--             <li role="presentation" class="dropdown">
                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-bell-o"></i>
                    <span class="badge bg-green">2</span>
                </a>
                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                    <li>
                        <a>
                            <span class="image"><i class="fa fa-envelope"></i></span>
                            <span>
                            <span>Nguyễn Đức T</span>
                            <span class="time">3 mins ago</span>
                            </span>
                            <span class="message">Request to be absent from 10/7/2016 - 17/7/2016</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="image"><i class="fa fa-envelope"></i></span>
                            <span>
                            <span>Nguyễn Khoa</span>
                            <span class="time">3 mins ago</span>
                            </span>
                            <span class="message">Request to be absent from 10/7/2016 - 17/7/2016</span>
                        </a>
                    </li>
                    <li>
                        <div class="text-center">
                            <a>
                                <strong>See All</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </li> -->
        </ul>
    </nav>
</div>
