<div class="left_col scroll-view">
    <div class="navbar nav_title " style="border: 0;">
        <a href="/" class="site_title"><span> Manager Website</span></a>
    </div>
    <div class="clearfix"></div>
    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <ul class="nav side-menu">
                <li><a routerLink="/" routerLinkActive="active"><i class="fa fa-home"></i> Dashboard</a></li>
                <li><a routerLink="/students" routerLinkActive="active"><i class="fa fa-users"></i> Students</a></li>
                <li><a routerLink="/courses" routerLinkActive="active"><i class="fa fa-book"></i> Courses</a></li>
                <li><a routerLink="/teachers" routerLinkActive="active"><i class="fa fa-graduation-cap"></i> Teachers</a></li>
                <li><a routerLink="/timetable" routerLinkActive="active"><i class="fa fa-graduation-cap"></i> Time Table</a></li>
                <li><a routerLink="/absence-requests" routerLinkActive="active"><i class="fa fa-envelope"></i> Absence Requests </a></li>
                <li>
                    <a><i class="fa fa-key"></i> Admin <span class="fa fa-chevron-down"></span> </a>
                    <ul class="nav child_menu">
                        <li><a href="/admin/create-user">Create User</a></li>
                        <li><a href="/admin/users">User Management</a></li>
                        <li><a href="/admin/users">Activity Logs</a></li>
                    </ul>
                </li>
                <li><a href="/settings"><i class="fa fa-cog"></i> Settings</a></li>
            </ul>
        </div>
    </div>
    <!-- /sidebar menu -->
</div>
