<div class="col-xs-12">
    <div class="x_panel">
        <div class="x_content">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12 profile_left">
                    <ng-container *ngIf="!isEditingProfile">
                        <h3>{{editing_name}}</h3>
                        <ul class="list-unstyled user_data" style="font-size: medium;">
                            <li>
                                <i class="fa fa-phone"></i> {{authService.current_user.phone}}
                            </li>
                            <li>
                                <i class="fa fa-envelope-o"></i> {{authService.current_user.email}}
                            </li>
                        </ul>
                        <button class="btn btn-primary" (click)="onEditProfile()"><i class="fa fa-pencil"></i> Edit</button>
                    </ng-container>
                    <ng-container *ngIf="isEditingProfile" (keydown)="keyDownFunction($event)">
                        <h3><input class="form-control" type="text" name="editing_name" [(ngModel)] = "editing_name"></h3>
                        <ul class="list-unstyled user_data" style="font-size: medium;">
                            <li>
                                <i class="fa fa-phone"></i>
                                <input class="form-control" type="text" name="editing_phone" [(ngModel)]="editing_phone">
                            </li>
                            <li>
                                <i class="fa fa-envelope-o"></i> {{authService.current_user.email}}
                            </li>
                        </ul>
                        <button class="btn btn-default" (click)="onCancelEditProfile()">Cancel</button>
                        <button class="btn btn-success" (click)="onSaveEditProfile()">Save</button>
                    </ng-container>
                </div>
                <div class="col-sm-8 col-xs-12">
                    <div class="row pad-top col-xs-12">
                        <button type="button" class="btn btn-primary" (click)="onCreateAbsenceRequest()">
                            <i class="fa fa-envelope fa-3x"></i>
                            <h5>Send Absence Req</h5>
                        </button>
                        <button type="button" class="btn btn-primary" (click)="onSendFeedback()">
                            <i class="fa fa-comments fa-3x"></i>
                            <h5>Send Feedback</h5>
                        </button>
                        <button type="button" class="btn btn-primary" (click)="onChangePassword()">
                            <i class="fa fa-cog fa-3x"></i>
                            <h5>Change Password</h5>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h3>Attendance Progression</h3>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <th colspan="2"></th>
                            <th colspan="2">Week 1</th>
                            <th colspan="2">Week 2</th>
                            <th colspan="2">Week 3</th>
                            <th colspan="2">Week 4</th>
                            <th colspan="2">Week 5</th>
                            <th colspan="2">Week 6</th>
                            <th colspan="2">Week 7</th>
                            <th colspan="2">Week 8</th>
                            <th colspan="2">Week 9</th>
                            <th colspan="2">Week 10</th>
                        </tr>
                        <tr>
                            <th>Course</th>
                            <th>Absences</th>
                            <th>1-1</th>
                            <th>1-2</th>
                            <th>2-1</th>
                            <th>2-2</th>
                            <th>3-1</th>
                            <th>3-2</th>
                            <th>4-1</th>
                            <th>4-2</th>
                            <th>5-1</th>
                            <th>5-2</th>
                            <th>6-1</th>
                            <th>6-2</th>
                            <th>7-1</th>
                            <th>7-2</th>
                            <th>8-1</th>
                            <th>8-2</th>
                            <th>9-1</th>
                            <th>9-2</th>
                            <th>10-1</th>
                            <th>10-2</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let course of attendance_list_by_student;let i = index">
                            <td>{{course.code}} - {{course.name}}</td>
                            <td>{{course.absences}} / {{course.attendance_details.length}} ({{(course.absences/course.attendance_details.length) | percent:'2.1-1'}})</td>
                            <ng-container *ngFor="let attendance_detail of course.attendance_details;let j = index">
                                <ng-template #tolTemplate>
                                    <div>Created at : {{attendance_detail.created_at | date:'short'}}</div>
                                    <div *ngIf="attendance_detail.attendance_type != appService.attendance_type.absent">Attended at : {{attendance_detail.attendance_time | date:'short'}}</div>
                                </ng-template>
                                <td [tooltip]="tolTemplate" container="body"><i *ngIf="attendance_detail.attendance_type == appService.attendance_type.checklist" class="fa fa-check attendance-check"></i><i *ngIf="attendance_detail.attendance_type == appService.attendance_type.qr" class="fa fa-qrcode attendance-check"></i><i *ngIf="attendance_detail.attendance_type == appService.attendance_type.quiz" class="fa fa-question-circle attendance-check"></i><i *ngIf="attendance_detail.attendance_type == appService.attendance_type.face" class="fa fa-user-circle-o attendance-check"></i></td>
                            </ng-container>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<create-absence-request-modal (onConfirmed)="onRequestCreated($event)"></create-absence-request-modal>
<send-feedback-modal (onSent)="onFeedbackSent($event)"></send-feedback-modal>
