    <div class="page-title">
        <div class="title_left">
            <h3>Teacher Detail</h3>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <div class="row">
                        <div class="col-xs-6">
                            <h2>CSS345 - System Architecture</h2>
                        </div>
                        <div class="col-xs-4">
                            <h2>Semester : HK2-2016-2017</h2>
                        </div>
                        <div class="col-xs-2">
                            <button class="btn btn-success">Add</button>
                        </div>                      
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <h2>Teacher : Đinh Bá Tiến</h2>
                        </div>
                        <div class="col-xs-4">
                            <h2>Total Students : 30</h2>
                        </div>
                        <div class="col-xs-2">
                            <button class="btn btn-primary">Export</button>
                        </div>                                          
                    </div>              
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div style="text-align: right;">
                        <button class="btn btn-round btn-primary" type="button">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>