<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h3>Check Attendance Quiz ({{selected_attendance['course_name']}}-{{selected_attendance['class_name']}})</h3>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="col-xs-12 form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-1 col-xs-3">Quiz type: </label>
                    <div class="col-sm-3 col-xs-6">
                        <select class="form-control" name="selected_quiz_type" [(ngModel)]="selected_quiz_type" (ngModelChange)="onChangeQuizType()">
                            <option *ngFor="let quiz_type of quiz_types" [value]="quiz_type.id">{{quiz_type.title}}</option>
                        </select>
                    </div>
                    <ng-container *ngIf="selected_quiz_type == appService.quiz_type.academic.id">
                        <label class="control-label col-sm-2 col-xs-6">Quiz template: </label>
                        <div class="col-sm-3 col-xs-6">
                            <select class="form-control" name="selected_quiz" [(ngModel)]="selected_quiz" (ngModelChange)="onChangeQuiz()">
                                <option *ngFor="let quiz of quizzes" [value]="quiz.id">{{quiz.title}}</option>
                            </select>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="selected_quiz_type == appService.quiz_type.miscellaneous.id">
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <button class="btn btn-primary btn-round">Generate questions</button>
                        </div>
                    </ng-container>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 col-sm-6">
                        <textarea autosize class="form-control only_bottom_border" placeholder="Quiz title" [(ngModel)]="quiz.title" style="font-size: large; resize: none;"></textarea>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-xs-1 col-xs-offset-1">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="is_randomize_questions" [(ngModel)]="quiz.is_randomize_questions">
                                            <input *ngIf="is_published" disabled type="checkbox" name="is_randomize_questions" [(ngModel)]="quiz.is_randomize_questions">
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xs-9">
                                    <h4>Randomimze order of questions</h4>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-1 col-xs-offset-1">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="is_randomize_answers" [(ngModel)]="quiz.is_randomize_answers">
                                            <input *ngIf="is_published" disabled type="checkbox" name="is_randomize_answers" [(ngModel)]="quiz.is_randomize_answers">
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xs-9">
                                    <h4>Randomize order of answers</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="selected_quiz_type == appService.quiz_type.academic.id">
                    <div *ngFor="let question of quiz.questions; let i = index;">
                        <form class="form-group well">
                            <div class="form-group">
                                <div class="col-sm-6 col-xs-12">
                                    <textarea autosize rows="2" class="form-control only_bottom_border" name="question_title_{{i}}" placeholder="Question" [(ngModel)]="question.text" style="resize: none;" (keydown)="onTabInTextarea($event)"></textarea>
                                </div>
                                <div class="col-sm-4 col-xs-6">
                                    <label class="control-label col-sm-3">Timer: </label>
                                    <div class="col-sm-9">
                                        <select class="form-control" [(ngModel)]="question.timer" name="question_timer_{{i}}">
                                            <option *ngFor="let timer of appService.timers" [value]="timer.value">{{timer.text}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-1" *ngIf="quiz.questions.length > 1">
                                    <button class="btn btn-danger" (click)="onRemoveQuestion(i)"><i class="fa fa-times"></i></button>
                                </div>
                                <div class="col-sm-1" *ngIf="i == quiz.questions.length-1">
                                    <button class="btn btn-primary" (click)="onAddQuestion()"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-1">
                                    <input class="form-control" name="question_{{i}}_option_a" placeholder="Option A" [(ngModel)]="question.option_a">
                                </div>
                                <div class="col-sm-1 radio">
                                    <label>
                                        <input type="radio" name="optradio" [value]="question.option_a" [(ngModel)]="question.correct_option">
                                        <p class="green_text" *ngIf="question.option_a == question.correct_option">Correct</p>
                                    </label>
                                </div>
                                <div class="col-sm-4 col-sm-offset-1">
                                    <input class="form-control" name="question_{{i}}_option_b" placeholder="Option B" [(ngModel)]="question.option_b">
                                </div>
                                <div class="col-sm-1 radio">
                                    <label>
                                        <input type="radio" name="optradio" [value]="question.option_b" [(ngModel)]="question.correct_option">
                                        <p class="green_text" *ngIf="question.option_b == question.correct_option">Correct</p>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-1">
                                    <input class="form-control" name="question_{{i}}_option_c" placeholder="Option C" [(ngModel)]="question.option_c">
                                </div>
                                <div class="col-sm-1 radio">
                                    <label>
                                        <input type="radio" name="optradio" [value]="question.option_c" [(ngModel)]="question.correct_option">
                                        <p class="green_text" *ngIf="question.option_c == question.correct_option">Correct</p>
                                    </label>
                                </div>
                                <div class="col-sm-4 col-sm-offset-1">
                                    <input class="form-control" name="question_{{i}}_option_d" placeholder="Option D" [(ngModel)]="question.option_d">
                                </div>
                                <div class="col-sm-1 radio">
                                    <label>
                                        <input type="radio" name="optradio" [value]="question.option_d" [(ngModel)]="question.correct_option">
                                        <p class="green_text" *ngIf="question.option_d == question.correct_option">Correct</p>
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div *ngIf="selected_quiz_type == appService.quiz_type.miscellaneous.id">
                </div>
                <div class="form-group">
                    <div class="text-center">
                        <button class="btn btn-default" (click)="onBack()">Back</button>
                        <button class="btn btn-success" (click)="onPublishQuiz()">Publish</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="modal fade" id="confirmStopQuizModal" role="dialog">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog modal-sm vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirm Stop Quiz</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        If you stop the quiz,students won't be able to submit their answers anymore.
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-default btn-success" (click)="stopQuiz()" data-dismiss="modal">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div> -->
