<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h3>Check Attendance Quiz ({{selected_attendance['course_name']}}-{{selected_attendance['class_name']}})</h3>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <tabset [justified]="true">
                <tab heading="Quiz">
                    <br>
                    <div class="col-xs-12 col-sm-6" style="border-right-style: solid;">
                        <div *ngIf="!is_started" class="form-group">
                            <select class="form-control" [(ngModel)]="selected_quiz" (ngModelChange)="onChangeQuiz()">
                                <option *ngFor="let quiz of quizzes" [value]="quiz.id">{{quiz.title}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <textarea autosize *ngIf="!is_started" class="form-control only_bottom_border" placeholder="Quiz title" [(ngModel)]="quiz.title" style="font-size: large; resize: none;"></textarea>
                            <h3 *ngIf="is_started">{{quiz.title}}</h3>
                        </div>
                        <div *ngFor="let question of quiz.questions; let i = index;">
                            <div class="col-sm-10 form-group">
                                <textarea autosize *ngIf="!is_started" rows="3" class="form-control only_bottom_border" name="question_title_{{i}}" placeholder="Question" [(ngModel)]="question.text" style="resize: none;"></textarea>
                                <h3 *ngIf="is_started">Q: {{question.text}}</h3>
                            </div>
                            <div class="col-sm-1" *ngIf="quiz.questions.length > 1 && !is_started">
                                <button class="btn btn-danger" (click)="onRemoveQuestion(i)"><i class="fa fa-times"></i></button>
                            </div>
                            <div class="col-sm-1" *ngIf="i == quiz.questions.length-1 && !is_started">
                                <button class="btn btn-primary" (click)="onAddQuestion()"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-xs-3" style="text-align: right">
                                    <h3>Code :</h3>
                                </div>
                                <div class="col-xs-3">
                                    <h3 *ngIf="is_started">{{quiz.code}}</h3>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-3" style="text-align: right">
                                    <h3>Timer :</h3>
                                </div>
                                <div class="col-xs-3">
                                    <h3 *ngIf="!is_started">
                                        <input *ngIf="quiz.is_use_timer" [textMask]="{mask: mask,guide:true,placeholderChar:'_'}" class="form-control only_bottom_border" [(ngModel)]="quiz.timer" style="font-size: large;">
                                        <input *ngIf="!quiz.is_use_timer" disabled class="form-control only_bottom_border" style="font-size: large;">
                                    </h3>
                                    <h3 *ngIf="is_started && quiz.is_use_timer">{{quiz.timer}}</h3>
                                </div>
                                <div *ngIf="!is_started" class="col-xs-3">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="is_use_timer" [(ngModel)]="quiz.is_use_timer" (ngModelChange)="onUseTimer()">Use timer</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="text-center">
                                    <button class="btn btn-default" (click)="onBack()">Back</button>
                                    <button *ngIf="!is_started" class="btn btn-success" (click)="onStartQuiz()">Start</button>
                                    <button *ngIf="is_started" class="btn btn-danger" (click)="onStopQuiz()">Stop</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab heading="Answers ({{quiz.questions[0].answers.length}})">
                    <ng-container *ngFor="let question of quiz.questions">
                        <h4 class="underline">Q: {{question.text}} <small> ({{question.answers.length}} answers)</small></h4>
                        <div style="overflow:auto; max-height:300px;">
                            <table class="table table-striped table-bordered">
                                <tbody>
                                    <tr *ngFor="let answer of question.answers">
                                        <td width="20%">{{answer.student_name}} - {{answer.student_code}}</td>
                                        <td>{{answer.text}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <hr/>
                    </ng-container>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="modal fade" id="confirmStopQuizModal" role="dialog">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog modal-sm vertical-align-center">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirm Stop Quiz</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        If you stop the quiz,students won't be able to submit their answers anymore.
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-default btn-success" (click)="stopQuiz()" data-dismiss="modal">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>
