<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>{{course.code}} - {{course.name}}</h2>
                <div class="row">
                    <div class="col-xs-5">
                        <button type="button" class="btn btn-sm btn-success btn-round" data-toggle="modal" data-target="#addTeacherModal"> <i class="fa fa-plus"></i> Add </button>
                        <button type="button" class="btn btn-sm btn-success btn-round"> <i class="fa fa-upload"></i> Import</button>
                        <button type="button" class="btn btn-sm btn-success btn-round"> <i class="fa fa-download"></i> Export</button>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-xs-2" style="text-align: right">
                            <h2>Programs :</h2>
                        </div>
                        <div class="col-xs-4">
                            <h2>{{course.program_name}}</h2>
                        </div>
                        <div class="col-xs-2" style="text-align: right">
                            <h2>Semester :</h2>
                        </div>
                        <div class="col-xs-4">
                            <h2>{{course.semester_name}}</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2" style="text-align: right">
                            <h2>Lecturer :</h2>
                        </div>
                        <div class="col-xs-4">
                            <h2 *ngFor="let lecturer of lecturers">{{lecturer.first_name}} {{lecturer.last_name}}</h2>
                        </div>
                        <div class="col-xs-2" style="text-align: right">
                            <h2>TA :</h2>
                        </div>
                        <div class="col-xs-4">
                            <h2 *ngFor="let TA of TAs">{{TA.first_name}} {{TA.last_name}}</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2" style="text-align: right">
                            <h2>Office hour :</h2>
                        </div>
                        <div class="col-xs-4">
                            <h2>{{course.office_hour}}</h2>
                        </div>
                        <div class="col-xs-2" style="text-align: right">
                            <h2>Note :</h2>
                        </div>
                        <div class="col-xs-4">
                            <h2>{{course.note}}</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <h2>Total Students : {{course.total_stud}}</h2>
                </div>
                <attendance-list-table></attendance-list-table>
                <div style="text-align: right;">
                    <button class="btn btn-round btn-primary" type="button">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
