<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                    <h3>{{student.first_name}} {{student.last_name}}</h3>
                    <ul class="list-unstyled user_data" style="font-size: medium;">
                        <li *ngIf="student.status == 0" style="color: green">
                            <i class="fa fa-info-circle"></i> Active
                        </li>
                        <li *ngIf="student.status == 1" style="color: orange">
                            <i class="fa fa-info-circle"></i> Reserved
                        </li>
                        <li *ngIf="student.status == 2" style="color: red">
                            <i class="fa fa-info-circle"></i> Suspended/Dropped
                        </li>
                        <li>
                            <i class="fa fa-id-card-o"></i> {{student.code}}
                        </li>
                        <li>
                            <i class="fa fa-group"></i> {{student.class_name}}
                        </li>
                        <li>
                            <i class="fa fa-phone"></i> {{student.phone}}
                        </li>
                        <li>
                            <i class="fa fa-envelope-o"></i> {{student.email}}
                        </li>
                    </ul>
                    <button class="btn btn-primary"><i class="fa fa-pencil"></i> Edit</button>
                    <br />
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <tabset>
                        <tab heading='Current Courses'>
                            <table class="data table table-striped text-center table-hover">
                                <thead>
                                    <tr>
                                        <th>Code</th>
                                        <th>Name</th>
                                        <th>Lecturers</th>
                                        <th>No. Absences</th>
                                        <th>Attendance Status</th>
                                        <th>Enrollment Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let course of current_courses" (click)="onCellClick(course.id)">
                                        <td>{{course.code}}</td>
                                        <td>{{course.name}}</td>
                                        <td>{{course.lecturers}}</td>
                                        <td></td>
                                        <td>{{course.attendance_status}}</td>
                                        <td>{{course.enrollment_status}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </tab>
                        <tab heading='Absence Requests'>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </div>
</div>
