<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                    <h3>{{course.code}} - {{course.name}}</h3>
                <div class="row">
                    <button type="button" class="btn btn-sm btn-success btn-round" data-toggle="modal" data-target="#addTeacherModal"> <i class="fa fa-plus"></i> Add Student</button>
                    <button type="button" class="btn btn-sm btn-success btn-round"> <i class="fa fa-upload"></i> Import Attendance List</button>
                    <button type="button" class="btn btn-sm btn-success btn-round"> <i class="fa fa-download"></i> Export Attendance List</button>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-xs-2" style="text-align: right">
                            <h4>Programs :</h4>
                        </div>
                        <div class="col-xs-2">
                            <h4>{{course.program_name}}</h4>
                        </div>
                        <div class="col-xs-2" style="text-align: right">
                            <h4>Semester :</h4>
                        </div>
                        <div class="col-xs-2">
                            <h4>{{course.semester_name}}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2" style="text-align: right">
                            <h4>Lecturer :</h4>
                        </div>
                        <div class="col-xs-4">
                            <h4 *ngFor="let lecturer of lecturers">{{lecturer.first_name}} {{lecturer.last_name}}</h4>
                        </div>
                        <div class="col-xs-2" style="text-align: right">
                            <h4>TA :</h4>
                        </div>
                        <div class="col-xs-4">
                            <h4 *ngFor="let TA of TAs">{{TA.first_name}} {{TA.last_name}}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2" style="text-align: right">
                            <h4>Office hour :</h4>
                        </div>
                        <div class="col-xs-4">
                            <h4>{{course.office_hour}}</h4>
                        </div>
                        <div class="col-xs-2" style="text-align: right">
                            <h4>Note :</h4>
                        </div>
                        <div class="col-xs-4">
                            <h4>Total Students : {{course.total_stud}}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <h4>{{course.note}}</h4>
                    </div>
                </div>
                <staff-attendance-list-table></staff-attendance-list-table>
                <div style="text-align: right;">
                    <button class="btn btn-round btn-primary" type="button">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
